name: Update

on:
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ci-${{ github.ref }}-update
  cancel-in-progress: true

jobs:
  update-flake:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: ./.github/actions/setup-nix
        with:
          cachix-name: fbosch
          cachix-auth-token: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@834c491b2ece4de0bbd00d85214bb5e83b4da5c6 # v28
        with:
          token: ${{ secrets.PAT_TOKEN }}
          pr-title: "Update flake inputs"
          pr-labels: dependencies
          branch: update-flake-inputs
