name: Update

on:
  schedule:
    - cron: "0 2 * * 1"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  id-token: write

concurrency:
  group: ci-${{ github.ref }}-update
  cancel-in-progress: true

jobs:
  update-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v12

      - name: Enable Nix cache
        uses: cachix/cachix-action@v12
        with:
          name: fbosch
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v24
        with:
          token: ${{ secrets.PAT_TOKEN }}
          pr-title: "Update flake inputs"
          pr-labels: dependencies
          branch: update-flake-inputs
